<section id="ingredients">
  <h2>INGREDIENTS</h2>

  <div class="ingredient-list">
    <div class="ingredient-category">
      <h4>DELICIOUS INGREDIENTS</h4>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> bunch of Yu Choy, <i>cleaned and prewashed</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        Vegetable oil, <i>for frying</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="150">150</span> grams (g) dried anchovy, <i>heads removed</i>
      </div>
    </div>

    <div class="ingredient-category">
      <h4>ANCHOVY SOUP BASE</h4>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="24">24</span> cups (<span class="ingredient-quantity" data-base="6">6</span> quarts) water
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="2">2</span> pounds (lbs.) pork bones
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="0.5">0.5</span> lb. dried anchovy
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> large yellow onion, <i>halves</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> teaspoon (tsp) fish sauce, <i>to taste</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> tsp white peppercorn, <i>crushed</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> thumb-size ginger, <i>quartered</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> honey date
      </div>
    </div>

    <div class="ingredient-category">
      <h4>NOODLES/DOUGH</h4>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="6">6</span> cups all-purpose flour
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="2">2</span> tablespoon (tbsp) vegetable oil
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> cup water + <span class="ingredient-quantity" data-base="1">1</span> cup water
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> tsp salt
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> tsp sugar
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> tbsp cornstarch
      </div>
    </div>

    <div class="ingredient-category">
      <h4>GROUND PORK AND SHIITAKE TOPPING</h4>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> lb. ground pork
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="10">10</span> pieces dried shiitake mushroom <i>soaked + stems removed, <b>keep mushroom juices</b>!</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="5">5</span> cloves garlic, <i>minced</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> shallot, <i>minced</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> thumb-size ginger, <i>minced</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> tsp chicken bouillon powder
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="1">1</span> tbsp fish sauce
      </div>
    </div>

    <div class="ingredient-category">
      <h4>DIPPING SAUCE (SPICY)</h4>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        <span class="ingredient-quantity" data-base="10">10</span> Thai chili-peppers, <i>cut to small pieces</i>
      </div>
      <div class="ingredient-item">
        <input type="checkbox" class="ingredient-check">
        soy sauce, <i>to taste</i>
      </div>
    </div>
  </div>

  <div class="image-gallery">
    <img src="../assets/panmee_photo/image004.jpg" alt="All ingredients laid out for Pan Mee preparation" loading="lazy" />
  </div>
</section>
